:root {
  --main-grey: #2f2f2f;
  --tile: #086f6e;
  --correct-tile: #26d326;
  --text: #ffffff;
  --tile-height: 8vw;
  --tile-width: 8vw;
  --text-size: 3vw;
  --mobile-tile-height: 16vw;
  --mobile-tile-width: 16vw;
  --mobile-text-size: 6vw;
}
.App {
  text-align: center;
  background-color: #2f2f2f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
.App h1 {
  font-size: var(--text-size);
  color: var(--text);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
