.winner-container h1 {
  color: var(--text);
  font-size: var(--text-size);
  letter-spacing: 0.2em;
}
.winner-container .btn {
  margin-top: 0cqi;
  background-color: #1b1b1b;
  border: none;
  padding: 1vw 4vw;
  border-radius: 0.5vw;
  color: var(--text);
  font-size: var(--text-size);
}
